@font-face {
  font-family: "SF Display";
  src: url("../public/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../public/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("../public/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

body {
  margin: 0;
  font-family: "SF Display", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 0.003rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  font-family: inherit;
  margin-left: 120px;
}

.layout {
  max-width: 960px;
  margin: 0 auto;
}

.page-header {
  margin: 0px 120px 50px 120px;


  h1 {
    font-weight: 500;
    margin: 0px;
  }

  p {
    margin-top: 15px;
    line-height: 1.55rem;
    font-size: 1.07rem;
    color: #8f9197;
  }
}

.link-bar {
  padding: 30px 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
}

.small-button {
  text-decoration: none;

  button {
    background-color: #F5F5F8;
    border: none;
    border-radius: 25px;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    font-size: 14.5px;
    font-weight: 500;
    margin-right: 15px;
    color: #282C34;


  }

  :hover {
    cursor: pointer;
  }

  img {
    height: 18px;
    margin-right: 10px;
  }
}

.land {
  fill: #d7e3d7;
}

.interiors {
  fill: none;
  stroke: #edf2f4;
}

.sphere {
  fill: #f1f5f7;
  fill: none;
}

.graticules {
  fill: none;
  stroke: none;
  // stroke: #dfeaec;
}

.tick {
  line {
    stroke: #efefef
  }

  text {
    font-size: 0.5rem;
  }
}

circle {
  fill: #cf6060;
  opacity: 0.3;
}

.tick text,
.axis-label {
  fill: #635F5D;
}

.axis-label {
  font-size: 0.8rem;
}

.marks {
  rect {
    fill: #cf6060;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  bottom: 70px;
  transition: opacity 200ms;

  .tooltiptext {
    width: 110px;
    background-color: #282c34ab;
    color: white;
    text-align: center;
    padding: 8px 2px;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    font-size: 0.8rem;
    letter-spacing: 0.01rem;


    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #282c34ab transparent transparent;
    }
  }
}